{% extends "base.html" %}

{% block content %}
<form  id="postData">
    <div>
        <input type="text" name="" id="field0">
    </div>
    <div>
        <input type="text" name="" id="field1">
    </div>
    <div>
        <textarea name="" id="field2" cols="20" rows="5"></textarea>
    </div>
    <div>
      <select name="" id="field3">
        <option value="one">One</option>
        <option value="two">Two</option>
        <option value="three">Three</option>
        <option value="four">Four</option>
      </select>
    </div>
        <input type="submit" value="SAVE">
</form>
<script type="text/javascript">
  document.getElementById('postData').addEventListener('submit', postData);
  function postData(event){
             event.preventDefault(); //prevents page refresh
             var postJSON = {}; //create json object
             var allElements = document.getElementsByTagName("*"); //get all form elements
             for(var i=0; i < allElements.length; i++){  //build out json object
               //console.log(postJSON[allElements[i].id])
               //console.log(allElements[i].value)
               postJSON[allElements[i].id] = allElements[i].value; //creates member of json object
             }
             fetch('http://localhost:5000/process', {  //post object to backend for saving to db
                 method: 'POST',
                 headers : {'content-type': 'application/json'},
                 body:JSON.stringify(postJSON)
             }).catch((err)=>console.log(err))
  }
</script>
{% endblock %}
