<!DOCTYPE html>
<html>
<head>

	<!-- Step 9: Create the title for your page. This is what shows up in the tab -->
	<title>AJAX Example</title>

	<!-- Step 10: Include the links to ajax and jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

	<!-- Step 11: Include links to bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Step 12: Include link to our javascript file. This is the file that will read objects
	from this html page, and send AJAX requests to our python Flask server. -->
	<script src="{{ url_for('static', filename='js/new_form.js') }}"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/new_form.css') }}">
</head>
<body>
<div class="container">
	<br><br><br><br>

	<!-- Step 14: Create your alert banners. We will be displaying the data from our selected values, which
	are collected and sent by AJAX to flask via a post request. Once we handle the data in Flask (our python
	file) we will pass it back as a JSON value to be shown in the success alert banner. -->
	<div class='row'>
		<div id="successAlert" class="col-lg-12 alert alert-success" role="alert"></div>
	</div>

	<div class='row'>
		<div class='col-sm-12'>
		</div>
	</div>
	<div class='row'>
		<div id="rectangle">
			<div id='toprail'>
				<div id='usb-container'>
					<div class="outer-outer-square">
				     <div class="outer-square">
					     <div class="inner-square">&nbsp;</div>
					 </div>
					</div>
				 </div>
			     <div class="blank">
			     </div>
			     <div class="blank">
			     </div>
			     <div class="blank">
			     </div>
			     <div class="terminal x3x4-container" id='x4'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">X4</span></p>
			     </div>
			     <div class="terminal x3x4-container" id='topground3'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">24-</span></p>
			     </div>
			     <div class="terminal x3x4-container" id='toppower2'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">24+</span></p>
			     </div>
			     <div class="terminal x3x4-container" id='x3'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">X3</span></p>
			     </div>
			     <div class="terminal" id='x2'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">X2</span></p>
			     </div>
			     <div class="terminal" id='topground2'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">24-</span></p>
			     </div>
			     <div class="terminal" id='toppower'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">24+</span></p>
			     </div>
			     <div class="terminal" id='x1'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">X1</span></p>
			     </div>
			     <div class="terminal" id='topground1'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">24-</span></p>
			     </div>
			     <div class="terminal" id='D2'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text" id="d2text">D2</span></p>
			     </div>
			     <div class="terminal" id='D1'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="top-terminal-text">D1</span></p>
			     </div>
			     <div class="blank">
			     </div>
			     <div class="blank">
			     </div>
			     <div id='eth-container'>
				     <div class='nic' id='nic2'>
						<div class="nicpiece" id="nics1">&nbsp;</div>
						<div class="nicpiece" id="nics2">&nbsp;</div>
					</div>
				     <div class='nic' id='nic1'>
						<div class="nicpiece" id="nics1">&nbsp;</div>
						<div class="nicpiece" id="nics2">&nbsp;</div>
					</div>
				</div>
				<div id='mstp-container'>
					<div class="mstp-terminal" id='shield485'>
			     		<div class="top-screwterminal">&nbsp;</div>
			     		<p><span class="top-terminal-text">S</span></p>
			     	</div>
			     	<div class="mstp-terminal" id='rx485'>
			     		<div class="top-screwterminal">&nbsp;</div>
			     		<p><span class="top-terminal-text">-</span></p>
			     	</div>
			     	<div class="mstp-terminal" id='tx485'>
			     		<div class="top-screwterminal">&nbsp;</div>
			     		<p><span class="top-terminal-text">+</span></p>
			     	</div>
				</div>
				<div class="pl" id='plrx'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="pl-terminal-text">KNX-</span></p>
			     </div>
			     <div class="pl" id='pltx'>
			     	<div class="top-screwterminal">&nbsp;</div>
			     	<p><span class="pl-terminal-text">KNX+</span></p>
			     </div>
			</div>
			<div id='top-space'></div>
			<div id='center-container'>
				<div id='airhole1'></div>
				<div id='airhole2'></div>
				<div id='centerraised'>
					<p><span id="siemens">SIEMENS</span></p>
					<div id='run'><span id='r'>RUN</span></div>
					<br>
					<div id='service'><span id='svc'>SVC</span></div>
				</div>
			</div>
			<div id='bottom-space'></div>
			<div id="bottomrail">
				<div class="terminal y30y40-container" id='y40'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y40</span></p>
			     </div>
			     <div class="terminal y30y40-container" id='bottomground2'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">24-</span></p>
			     </div>
			     <div class="terminal y30y40-container" id='bottompower2'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">24+</span></p>
			     </div>
			     <div class="terminal y30y40-container" id='y30'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y30</span></p>
			     </div>
			     <div class="terminal" id='y20'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y20</span></p>
			     </div>
			     <div class="terminal" id='bottomground'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">24-</span></p>
			     </div>
			     <div class="terminal" id='toppower'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">24+</span></p>
			     </div>
			     <div class="terminal" id='y10'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y10</span></p>
			     </div>
			     <div class="blank">
			     </div>
			     <div class="terminal" id='y8'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y8</span></p>
			     </div>
			     <div class="terminal" id='y7'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y7</span></p>
			     </div>
			     <div class="terminal" id='y6'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y6</span></p>
			     </div>
			     <div class="terminal" id='y5'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y5</span></p>
			     </div>
			     <div class="terminal" id='y4'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y4</span></p>
			     </div>
			     <div class="terminal" id='y3'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y3</span></p>
			     </div>
			     <div class="terminal" id='y2'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y2</span></p>
			     </div>
			     <div class="terminal" id='y1'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">Y1</span></p>
			     </div>
			     <div id='scom-container'>
					<div class="mstp-terminal" id='shield485'>
			     		<div class="screwterminal">&nbsp;</div>
			     		<p><span class="top-terminal-text">S</span></p>
			     	</div>
			     	<div class="mstp-terminal" id='rx485'>
			     		<div class="screwterminal">&nbsp;</div>
			     		<p><span class="top-terminal-text">-</span></p>
			     	</div>
			     	<div class="mstp-terminal" id='tx485'>
			     		<div class="screwterminal">&nbsp;</div>
			     		<p><span class="top-terminal-text">+</span></p>
			     	</div>
				</div>
			     <div id='P1-container'>
					<div class="outer" id="p1hi">
				         <div class="inner">&nbsp;</div>
				     </div>
					<div class="outer" id="p1lo">
				         <div class="inner">&nbsp;</div>
				     </div>
			     </div>
			     <div id='blank-container'></div>
			     <div class="main-terminal" id='mainground'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">24-</span></p>
			     </div>
			     <div class="main-terminal" id='mainpower'>
			     	<div class="screwterminal">&nbsp;</div>
			     	<p><span class="bottom-terminal-text">24+</span></p>
			     </div>
			</div>
	     </div>
	     <div class='col-sm-4'>
	     	<!-- Step 15: Create a form container to hold our selection objects -->
			<form>
				<div id='container'>
					<div id='first'>
						<label><span class="badge badge-secondary">NAME</span></label>
						<select name='dxr-selection' class='select' id='dxrSelection'>
							{% for key, value in dxrs.items() %}
								<option value="{{value}}">{{key}}</option>
							{% endfor %}
						</select>
					</div>


					<div id='second-1'>
						<label><span class="badge badge-secondary">TYPE</span></label>
						<select name='etype-selection' class='select' id='etypeSelection'>
							{% for key, value in etypes.items() %}
								<option value="{{value}}">{{key}}</option>
							{% endfor %}
						</select>
					</div>
					<div id='second-2'>
						<label><span class="badge badge-secondary">TYPE</span></label>
						<select name='mtype-selection' class='select' id='mtypeSelection'>
							{% for key, value in mtypes.items() %}
								<option value="{{value}}">{{key}}</option>
							{% endfor %}
						</select>
					</div>
					<div id='second-3'>
						<label><span class="badge badge-secondary">TYPE</span></label>
						<select name='ptype-selection' class='select' id='ptypeSelection'>
							{% for key, value in ptypes.items() %}
								<option value="{{value}}">{{key}}</option>
							{% endfor %}
						</select>
					</div>


					<div id='third'>
						<label><span class="badge badge-secondary">UNITS</span></label>
						<select name='loc-selection' class='select' id='locSelection'>
							{% for key, value in locations.items() %}
								<option value="{{value}}">{{key}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</form>
			<!-- <form>
				<h4 id='show'>Click to show dropdowns</h4>
				<h4 id='hide'>Click to hide dropdowns</h4>
			</form> -->
			<form id='myForm'>
				<!-- Step 16: Create a selection to choose items from the list that was passed from Flask to this rendered
				template as arguments. 
				- Note** All of the select tags are part of the 'select' class, but have their own unique IDs-->
				<h3><span class="badge badge-secondary">AO:3ptFloating</span></h3>
				<div class="form-inline">
					<label><span class="badge badge-secondary">Y1,Y2</span></label>
					<select name='y1y2-3pt' class='select' id='y1y2-3pt'>
						{% for key, value in threepts.items() %}
							<option value="{{value}}">{{key}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-inline">
					<label><span class="badge badge-secondary">Y3,Y4</span></label>
					<select name='y3y4-3pt' class='select' id='y3y4-3pt'>
						{% for key, value in threepts.items() %}
							<option value="{{value}}">{{key}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-inline">
					<label><span class="badge badge-secondary">Y5,Y6</span></label>
					<select name='y5y6-3pt' class='select' id='y5y6-3pt'>
						{% for key, value in threepts.items() %}
							<option value="{{value}}">{{key}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-inline">
					<label><span class="badge badge-secondary">Y7,Y8</span></label>
					<select name='y7y8-3pt' class='select' id='y7y8-3pt'>
						{% for key, value in threepts.items() %}
							<option value="{{value}}">{{key}}</option>
						{% endfor %}
					</select>
				</div>
			</form>
	     </div>
	</div>
	<br>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>